@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
/* Fonts */
@font-face {
  font-family: ThaiSansNeue-Regular;
  src: url("fonts/ThaiSansNeue-Regular.ttf");
}
@font-face {
  font-family: ThaiSansNeue-Bold;
  src: url("fonts/ThaiSansNeue-Bold.ttf");
}
@font-face {
  font-family: ThaiSansNeue-Black;
  src: url("fonts/ThaiSansNeue-Black.ttf");
}

/* General */
* {
  font-family: ThaiSansNeue-Regular;
  font-size: 24px;
}

.landingCard {
  width: 100%;
  height: 100vh;
  background: grey;
}

.landingTitle {
  font-family: ThaiSansNeue-Black;
  font-size: 100px;
}

h1 {
  font-family: ThaiSansNeue-Black;
  text-align: center;
  padding-top: 50px;
}

h4 {
  font-family: ThaiSansNeue-Bold;
}

i {
  padding: 10px;
}

.subhead {
  text-align: left;
  margin-bottom: 5px;
  font-family: ThaiSansNeue-Bold;
}

.socialLink {
  text-align: center;
  margin: 10px;
}

/* Navbar */
nav {
  height: 50px;
}

.logo {
  color: white;
  font-family: ThaiSansNeue-Bold;
  font-size: 32px;
  margin: 0 0 0 20px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.nav-item{
  padding: 20px;
}

.nav-link{
  color: white;
}

.navmenu {
  margin: 0 auto;
}

.ham {
  margin: 0 20px 0 auto;
}
