@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
/* Fonts */
@font-face {
  font-family: ThaiSansNeue-Regular;
  src: url("fonts/ThaiSansNeue-Regular.ttf");
}
@font-face {
  font-family: ThaiSansNeue-Bold;
  src: url("fonts/ThaiSansNeue-Bold.ttf");
}
@font-face {
  font-family: ThaiSansNeue-Black;
  src: url("fonts/ThaiSansNeue-Black.ttf");
}

/* Particle */
#particles-js{
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, #24246e, #06051f);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.particles-js-canvas-el{
  position: absolute;
}
/* General */
* {
  font-family: ThaiSansNeue-Regular;
  font-size: 24px;
}

.landingTitle {
  font-family: ThaiSansNeue-Black;
  font-size: 100px;
}

h1 {
  font-family: ThaiSansNeue-Black;
  text-align: center;
  padding-top: 50px;
}

h4 {
  font-family: ThaiSansNeue-Bold;
}

i {
  padding: 10px;
}

.subhead {
  text-align: left;
  margin-bottom: 5px;
  font-family: ThaiSansNeue-Bold;
}

.socialLink {
  text-align: center;
  margin: 10px;
}

a:link{
  text-decoration: none;
}

/* Navbar */
nav {
  height: 50px;
}

.logo {
  color: white;
  font-family: ThaiSansNeue-Bold;
  font-size: 32px;
  margin: 0 0 0 20px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.nav-item{
  padding: 20px;
}

.nav-link{
  color: white;
}

.navmenu {
  margin: 0 auto;
}

.ham {
  margin: 0 20px 0 auto;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #373b44;
  z-index: 999;
  transition: .4s;
}

.sidebar ul a {
  transition: .4s;
}

.sidebar ul li:hover a{
  padding-left: 30px;
}